td {
    padding: 0; !important
    }

@media (max-width: 600px) {
  .lightning-modal-content {
    width: 98%;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  #lightning-qr {
    width: 140px;
    height: 140px;
  }
}